@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary-color: #ad2876;
    --secondary-color: #2B4162;
    --accent1-color: white;
    --accent2-color: #eb9c15;

    --heading-font: 'Ubuntu Sans', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color: white;
    --nav-link-color: #2B4162;
    --nav-hover-link-color: #ad2876;
    --nav-hover-background-color: #eb9c15;
} 
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    Color: var(--primary-color);
}

header {
    /*color: var(--secondary-color);*/
    color: #385f71;
    display: grid;
    grid-template-columns: 1fr 3fr;
	align-items: center;
    border: thin solid;
    /*border-color: var(--secondary-color);*/
    border-color: #385f71cb;
    margin: 20px;
    background-color: #385f71cb;
}
nav {
    display: flex;
    justify-content: space-around;
}

header img {
    max-width: 100px;
}

nav a {
	display: block;
	color: black;
	padding: 20px;
	text-decoration: none;
    font-size: larger;
}

footer nav a {
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    text-align: center;
    background-color: #385f71cb;
}
footer p{
    margin-left: 30%;
}
