@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary-color: #ad2876;
    --secondary-color: #2B4162;
    --accent1-color: white;
    --accent2-color: #527bb1e3;

    --heading-font: 'Ubuntu Sans', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color: white;
    --nav-link-color: #2B4162;
    --nav-hover-link-color: #ad2876;
    --nav-hover-background-color: #eb9c15;
} 
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.package {
    width: 1200px;
    margin: 0 auto;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    Color: var(--primary-color);
}

header {
    /*color: var(--secondary-color);*/
    color: #385f71;
    display: grid;
    grid-template-columns: 1fr 3fr;
	align-items: center;
    border: thin solid;
    /*border-color: var(--secondary-color);*/
    border-color: #385f71cb;
    margin: 20px;
    background-color: #385f71cb;
}
nav {
    display: flex;
    justify-content: space-around;
}

header img {
    max-width: 100px;
}

nav a {
	display: block;
	color: black;
	padding: 20px;
	text-decoration: none;
    font-size: larger;
}

/*Classe selector (hero)*/
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
  }

.hero h1 {
    width : 100%;
    height: 80px;
    color: #F5F0F6;
    position : absolute;
    top : 40px;
    text-align : center;
    background-color : rgba(36, 36, 29, 0.8);
    padding : 10px 0;
    z-index: 1;
}

.hero article {
    width : 70%;
    height : auto;
    position : absolute;
    top : 350px;
    background-color: #385f71;
    padding : 2em;
    margin-left : 12%;
    z-index: 1; 
}
.hero article p{
    color: white;
}

.hero article img {
    width: 230px;
    height: auto;
    float: right;
}
  
.hero section img {
    color: #333;
}

article {
    margin-top: 40px;
    text-align: center;
}

article img {
    max-width: 100%;
}
section {
    margin-top: 40px;
}

section h2 {
    color: var(--primary-color);
}

section h2 img {
    width: 400px;
}

footer nav a {
    text-decoration: none;
}
.Adventure h2{
    display: flex;
    align-content: center;
    margin-top: 10px;
    margin-left: 40%;
}

.figure-flex-box {
    display: flex;
    justify-content: center;
} 

figure img {
    width: 200px;
}
figcaption {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    text-align: center;
    background-color: #385f71cb;
}
footer p{
    margin-left: 30%;
}
.History p {
    padding: 30px;
    margin-top: 15px;
    text-align: center;
}
 .History h2{
    display: flex;
    align-content: center;
    margin-top: 10px;
    margin-left: 46%;
}

/*Contact Us*/
.map{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}
.employees-pic {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
figure img {
    width: 230px;
    height: auto;  
}
.employees{
    margin-bottom: -1rem;
}
.employees-pic{
    text-align: center;
}
label legend{
    font-size: larger;
}
.address, .map{
    display: grid;
    align-content: space-between;
    justify-content: center;
}
.address-title, .team, .message{
    padding-left: 80px;
    padding-top: 40px;
} 

 .company-info {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
    align-items: center;
} 
.address{
    margin: 0 auto;
    padding: 1.8rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    display: grid;
    font-size: xx-large;
}
li {
    margin: 10px 10px;
    font-size: 1rem;
}

.address p h6 {
    font-family:var(--heading-font);
    color:var(--primary-color);
    text-align: left;
    font-size: 1.3rem;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1.8rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    display: grid;
    margin-bottom: 20px;
}

label {
    text-align: left;
    padding: .8rem;
    font-size: 1rem;
}

input, textarea {
    padding: .5rem;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}
 input[type="checkbox"] {
    margin-left: auto;
    width: 1rem;
    height: 1rem;
    vertical-align:top;
 }
 input[type="radio"]{
    margin-left: auto;
    margin-top: -2rem;
    justify-items: center;
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
 }
 button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: .6rem;
    padding: .75rem;
    font-size: 1.1rem;
}

button:hover {
    color: var(--nav-hover-link-color);
    background-color: #0056b3;
    border-radius: .6rem;
}
fieldset{
    margin-top: 20px;
}
/*Trips*/
.reservations {
    text-align: center;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
}
.book{
    background-color: #0056b3;
    text-align: center;
    justify-items: center;
    margin-left: 35rem;
    margin-right: 35rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: .6rem;
    padding: .75rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.trips{
    padding-top: 1.5rem;
}

.trips h2, p{
    text-align: center;
    align-content: center;
    justify-content: center;
}
.trips p{
    font-size: larger;
}
.trip1-1{
    margin-left: 3rem;
    margin-right: 1.5rem;
}
.trip1 {
    align-content: center;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.trip2-2{
    margin-left: 3rem;
    margin-right: 1.5rem;
}
.trip2 {
    align-content: center;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.trip3-3{
    margin-left: 2.4rem;
    margin-right: 1.2rem;
}
.trip3{
    align-content: center;
    justify-content: space-around;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.space {
    padding-top: 1.5rem;
}


/* ...... */
.table {
    display: grid;
    grid-template-columns: 100%;
}

table {
    justify-self: center;
    align-self: center;
    padding-bottom: 30px;
}

.cell {
    padding: 5px;
    background-color: var(--accent2-color);
    text-align: center;
}

td > h4 {
    padding: 10px;
}

td > h3 {
    padding: 10px 10px 10px 0;

}

/* Home Page */
.index{
    width: auto;
    height: 350px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    display: grid;
    justify-content: flex-start;
    margin-bottom: 20px;
    
}
.invite{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 40px;
    align-items: center;
    
}
.form_title{
    text-align: left;
    padding: .8rem;
    font-size: 2rem;
    color: #ad2876;
}
.label-index {
    text-align: left;
    padding: .3rem;
    font-size: 1rem;
}

input{
    padding: .5rem;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}
.subscribe{
    margin-left: auto;
    margin-bottom: 1rem;
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
 }
button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: .6rem;
    padding: .75rem;
    font-size: 1.1rem;
}

button:hover {
    color: var(--nav-hover-link-color);
    background-color: #0056b3;
    border-radius: .6rem;
}
.link > img, figcaption{
    display: block;
    text-align: left;
    text-decoration: none;
}
.link h3{
    text-decoration: none;
}