@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    max-width: 800px;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #78C5D7;
    --secondary-color: #FCE172;
    --accent1-color: #124166;
    --accent2-color: #B8B8B8;

    --heading-font: "Poetsen One", san-serif;
    --paragraph-font: "Poetsen One", san-serif;

    --nav-background-color: #78C5D7;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #FCE172;
    --nav-hover-background-color: #124166;

    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
      
}

header {
    display: grid;
}

nav {
    display: flex;
    background: linear-gradient(white, var(--nav-background-color));
    justify-content: space-around;
    align-content: flex-end;
    
}

nav img {
    justify-self: flex-start;
    align-self: flex-start;
    width: 150px;
    height: auto;
}

nav a {
    font-size: 23px;
    align-self: end;
    padding: 10px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: white;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

a {
    text-decoration: none;
    color: var(--accent1-color)
}

article {
    position: absolute;
    top: 350px;
    background-color: #124166AA;
    color:#ffffff;
    width: 100%;
}

.about_title {
    position: absolute;
    top: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: var(--accent1-color);
    background-color: #FCE172BB
}

h1 {
    text-align: center;
    width: 100%;
    color: var(--accent1-color);
    background-color: #FCE172BB
}

.hero {
    position: relative;
}


article img {
  
    float: right;
    max-width: 200px;
    height: auto;  
}

article p {
    padding: 20px;
    margin-left: 15px;
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    justify-self: center;
    align-self: center;
    color:#124166
}

 .history {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    gap: 0px;
    background-color: var(--primary-color);
    padding: 10px;
}

.history h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    color: var(--accent1-color)
}

.history p {
    
    justify-self: center;
    padding: 20px;
    align-self: center;
}

.history img {
    display: block;
    max-width: 300px;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

#history_1 {
    grid-column: 1 / 2;
}

#history_2 {
    grid-column: 3 / 4;
}

.adventure_title {
    grid-column: 1 / span 5;
    grid-row: 1 / 2;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    padding: 20px;
    color: var(--accent1-color)
}

figcaption {
    padding-bottom: 10px;
    font-size: .8rem;
    text-align: center;
}

section.adventure  {
    margin-top: 15px;
    display: grid;
    background-color: var(--secondary-color);
    justify-items: center;
    align-items: center;
}

div.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    max-width: 800px;
    width: 800px;
    justify-items: center;
    align-items: center;
}

.adventure img {
    width: 135px;
    height: auto;
}

.image_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image_2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image_3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.image_4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.image_5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
    margin-top: 10px;
}

footer p {
    align-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.social_media {
    background-color: white;
    justify-content: flex-end;
    align-content: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 10px;
}

h1.contact_us_title {
    position: relative;
    text-align: center;
    padding-top: 3px;
    top: 40px;
    width: 100%;
    height: 45px;
    color: var(--accent1-color);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #FCE172BB
}

.contact_info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

}

.contact_container {
    display: grid;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 20px;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

div.map {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 20px;
}

.contact_label {
    text-align: right;
    justify-content: flex-end;
    margin: 5px;
}

.contact_paragraph_container {
    text-align: left;
    justify-content: flex-start;
    margin: 5px;
}

.label_container {
    justify-content: flex-end;
}

#label1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: right;
    justify-self: flex-end;
}

#label2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: right;
    justify-self: flex-end;
}

#label3 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    text-align: right;
    justify-self: flex-end;
}   

#address {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
    justify-self: flex-start;
}

#address_line2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: left;
    justify-self: flex-start;
}

#phone {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: left;
    justify-self: flex-start;
}

#emailaddress {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    text-align: left;
    justify-self: flex-start;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 20px;

}

.employee1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
}

.employee2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}

.employee3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;

}

.employee1 p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: left;
    margin-bottom: 20px;
}

.employee2 p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: left;
    margin-bottom: 20px;
}

.employee3 p {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: left;
    margin-bottom: 20px;
}

.form {
    display: grid;
    grid-template-columns: 100%;
}

form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    background-color: #78C5D7;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
}

.form_title {
    margin: 50px 30px 50px 0;
    justify-self: center;
    font-size: 1.5em;
    color:#124166

}

form input {
    margin: 10px;
}

#submit_inquiry_button {
    padding: 15px;
    width: 100%;
    color: white;
    background-color: #124166;
    font-size: 1.5em;
    border-radius: 10px;
}

.photo {
    width: 250px;
    height: auto;
    padding: 5px;
}

.trip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    margin: 10px;

}

.pic1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 10px;
}

.pic2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: 10px;
}

.pic3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-top: 10px;
}

.pic4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-bottom: 20px;
}

.pic5 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-bottom: 20px;
}

.pic6 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    margin-bottom: 20px;
}

.trip_title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: var(--secondary-color) ;
    color: var(--accent1-color);
    padding: 5px;
}

.trip_paragraph {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.trip_title1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

h1.our_trips_title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-bottom: 3px;
    text-align: center;
    width: 100%;
}

.tag_line {
    position: relative;
    top: 90px;
    width: 270px;
    height: 120px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #124166dd;
    justify-content: center;
    justify-self: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    
}

.tag_line > p {
    color: white;
    text-align: center;
    font-size: 2em;
}

.book {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.tag_line_container {
    position: absolute;
}

.table {
    display: grid;
    grid-template-columns: 100%;
}

table {
    justify-self: center;
    align-self: center;
    padding-bottom: 30px;
}

.cell {
    padding: 5px;
    background-color: var(--accent2-color);
    text-align: center;
}

td > h4 {
    padding: 10px;
}

td > h3 {
    padding: 10px 10px 10px 0;

}

.div1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-bottom: 40px;
}

.signup {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.action {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.action_text {
    position: absolute;
    top: 20px;
    left: 10px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    
}

.signup {
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-left: 30px;
}

.pix {
    width: 250px;
}

.div2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.pix01 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
}

.pix02 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}

.pix03 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
}

.white_water {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
}